html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: url('images/background.png') #D3B9B7;
    background-size: cover;
    background-repeat: no-repeat;
    color: #086371;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

a {
    color: #8349FF;
    text-decoration: underline;
}

.btn-light {
    background-color: #6869B5;
    border-color: #6869B5;
    color: #FBF4F3;
}

.btn-light:hover {
    background-color: #FBF4F3;
    border-color: #FBF4F3;
    color: #6869B5;
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 32px 40px 40px;
    margin: 50px auto;
    width: 80%;
    min-width: 953px;
    display: flex;
}
@media(max-width:1335px) {
    .container {
        width: 95%;
    }
    #canvasContainer{margin: 0 auto;}
}
@media(max-width:1100px) {
    .container{
        flex-wrap: wrap;
        padding-right: 0;
    }
    #sidebar{width:160px;}
    .scenario{width: 90%;}
}

#canvasContainer {
    width: 640px;
    height: 640px;
    margin: 0 32px;
}
.p5Canvas {
    border-radius: 10px;
}

#sidebar {
    font-size: 13px;
    font-family: monospace;
}