body {
	background-color: #EADADA;
    color: #086371;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

a {
    color: #8349FF;
    text-decoration: underline;
}

.btn-light {
    background-color: #6869B5;
    border-color: #6869B5;
    color: #FBF4F3;
}

.btn-light:hover {
    background-color: #FBF4F3;
    border-color: #FBF4F3;
    color: #6869B5;
}

#sidebar {
    font-size: 13px;
}
